@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 262.1 83.3% 57.8%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@theme inline {
  --radius-inherit: inherit;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.disable-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(240 3.7% 80.9%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(240 3.7% 65.9%);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.disco {
  position: relative;
}

.disco::after,
.disco::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 9999px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 50%,
    hsl(var(--accent))
  );
  z-index: -1;
  animation: spin 4s linear infinite;
}

.disco::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.disco:hover::after,
.disco:hover::before {
  background-image: conic-gradient(
    from var(--angle),
    hsl(var(--accent)),
    hsl(var(--accent))
  );
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
